@import url('https://fonts.googleapis.com/css2?family=Lora&family=Palanquin&family=Tangerine:wght@700&display=swap');

                    /* GENERAL */

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
    background-color: blanchedalmond;
}

h1, button {
    font-family: Lora, Courier, monospace;
}

h2 {
    font-family: Tangerine, Courier, monospace;
    font-size: 2.5rem;
}

p, li {
    font-family: Palanquin, Courier, monospace;
    font-size: 1.2rem;
}

button {
    margin-top: 10%;
    padding: 5%;

    font-size: 1.1rem;
    
    border: 1px solid;
    border-radius: 5px;

    cursor: pointer;

}

button:hover {
    transform: scale(1.1);
}

                    /* INTRO SCREEN WITH RULES AND GAME START */


.intro-screen, .outro-screen {
    height: 60vh;
    width: 60vw;

    /* centering the screen */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;

    padding: 10px;
    
    border:  5px solid rgb(138, 132, 132);
    border-radius: 5px;
    background-color: rgba(207, 207, 199, 0.6);
}

.intro-screen h1{
    padding: 10px;
 
}

.intro-screen h2 {
    font-size: 3rem;
}

.intro-screen li {
    list-style-type: none;
}

.hide {
    opacity: 0;
    pointer-events: none;
    /* ADD FADE OUT TRANSITION */
}

.fadeIn {
    opacity: 1;
    /* ADD FADE IN TRANSITION */

}

                    /* SCORES */

.scores {
    padding-top: 25px;

    font-size: 1.1rem;

    /* center scores */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.scores, 
.battle-zone {
    background-color: rgba(190, 190, 188, 0.5);
}


                    /* BATTLE GROUND */

.battle-zone {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.battle-zone h2 {
    font-size: 4rem;
    text-align: center;
}

.in-hand img{
    max-width: 40vw;
    
    border-radius: 10px;
    margin: 0 20px;
}

.options, .in-hand {
    display: flex;

    margin: 0;
} 

.options img {
    width: 100%;

    border-radius: 40%;
}

.options button {
    align-items: center;

    border: none;
    background: none;
    cursor: pointer;
}

/* Flips the image in the computers hand to mirror the players */
#computer-hand {
    transform: rotateY(180deg);

}

                    /* OUTRO SCREEN */
.outro-screen {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.outro-screen h2, p {
    margin: 10px;
}

                    /* MEDIA */

@media screen and (max-width: 600px) {
    .options button {
        display: inline-block;
    }
    
  }

@media screen and (min-width: 1000px) {
    .intro-screen h2,
    .outro-screen h2 {
        font-size: 4.5rem;
    }

    .intro-screen li {
        font-size: 1.5rem;
    }
    
    .outro-screen p {
        font-size: 1.2rem;
    }

    .scores p {
        font-size: 1.5rem;
    }

    .options button {
        width: 130%;
        padding: 40px;
    }

    .in-hand img {
        min-width: 50%;
    }
}