@import url('https://fonts.googleapis.com/css2?family=Lora&family=Palanquin&family=Tangerine:wght@700&display=swap');

                    /* GENERAL */

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: relative;
  
    background-color: blanchedalmond;
}

h1, button {
    font-family: Lora, Courier, monospace;
}

h2 {
    font-family: Tangerine, Courier, monospace;
    font-size: 2.5rem;
}

p, li {
    font-family: Palanquin, Courier, monospace;
    font-size: 1.1rem;
}

button:hover {
    transform: scale(1.1);
}

                    /* INTRO SCREEN WITH RULES AND GAME START */


.intro-screen, .outro-screen {
    height: 50%;
    width: 50%;

    /* centering the screen */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;

    padding: 10px;
    
    background-color: rgb(19, 128, 91);
    border-radius: 5px;
}

.intro-screen h1{
    padding: 10px;
 
}

.intro-screen li {
    list-style-type: none;
}

button {
    margin-top: 10%;
    padding: 5%;

    font-size: 1.1rem;
    
    border: 1px solid;
    border-radius: 5px;

    cursor: pointer;

}

.hide {
    opacity: 0;
    pointer-events: none;
    /* ADD FADE OUT TRANSITION */
}

.fadeIn {
    opacity: 1;
    /* ADD FADE IN TRANSITION */

}

                    /* BATTLE GROUND */

.battle-zone {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.battle-zone h2 {
    font-size: 4rem;
    text-align: center;
}

.hands button {
    width: 80vw;

    font-size: 52px;
    align-items: center;

    margin: 15px;
    padding: 10px;

    display: flex;
    flex-direction: column;

    cursor: pointer;
}

.computer-hand {
    transform: rotateY(180deg);
    padding-right: 100px;
}


                    /* SCORES */

.scores {
    padding-top: 25px;

    font-size: 1.1rem;

    /* center scores */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

                    /* OUTRO SCREEN */
.outro-screen {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.outro-screen h2, p {
    margin: 10px;
}

                    /* MEDIA */

@media screen and (min-width: 600px) {
    body {
      background-color: lightgreen;
    }
    .hands button {
        width: 20vw;
        display: inline-block;
    }
    
  }